@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Container</title>
</head>
   <body>
      <header>
         
      </header>
      <iframe src="@ViewBag.Url"></iframe>
      <footer></footer>
   </body>
</html>
